@using Newtonsoft.Json

@model IEnumerable<WebApp.Models.Parameters.BaseParameterViewModel>

<h2>Wykres</h2>

<div id="chartContainer">
    <ul class="list-group">
        <li class="list-group-item">Oczekiwanie na dane...</li>
    </ul>
</div>

<script>
    setTimeout(function () { initGraph(@Html.Raw(JsonConvert.SerializeObject(Model))); }, 2000);
</script>