@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Aplikacja na projekt zaliczeniowy z przedmiotu SCR</h1>
    <p>Użyj górnego menu nawigacyjnego, aby wybrać algorytm</p>
    <p>treść zadania projektowego została wypisana poniżej</p>
    <p>Algorytmem wybranym dla mnie były algorytmy: priorytetowy, DMS, EDF</p>

    <br />
    <img src="~/img/task-content.png" alt="Treść zadania"/>
</div>
