@model WebApp.Models.ExecuteLogicViewModel

@{
    ViewData["Title"] = "Scheduler - algorytm priorytetowy";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PriorityResult">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GenerateCount" class="control-label"></label>
                <input asp-for="GenerateCount" class="form-control" />
                <span asp-validation-for="GenerateCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenerationIntervalFrom" class="control-label"></label>
                <input asp-for="GenerationIntervalFrom" class="form-control" />
                <span asp-validation-for="GenerationIntervalFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenerationIntervalTo" class="control-label"></label>
                <input asp-for="GenerationIntervalTo" class="form-control" />
                <span asp-validation-for="GenerationIntervalTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostFrom" class="control-label"></label>
                <input asp-for="CostFrom" class="form-control" />
                <span asp-validation-for="CostFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostTo" class="control-label"></label>
                <input asp-for="CostTo" class="form-control" />
                <span asp-validation-for="CostTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Rozpocznij" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
